*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}    

#container{
    margin: auto;
    margin-top: 20px;
    width: 800px;
    text-align: center;
}

h1{
    color: #e53170;
    text-transform: capitalize;
    margin-bottom: 40px;
}